
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
* {
    margin: 0;
    padding: 0;
}
@keyframes animacao{
    from{color: var(--cor-segundaria);}
    to {color:var(--cor-quarta);}

    from {
    transform: translatex(-100px);
    }
    to {
    transform: translatex(0);
    }
}
.container{
    color: var(--cor-terceira);
    animation-name: animacao;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-direction: normal;
    animation-timing-function: ease-in;
   
}
:root{
    --cor-primaria:#000000;
    --cor-segundaria:#27E1C1;
    --cor-terceira:#CBE4DE;
    --cor-quarta:#03C988;
    --degrade-cor:to bottom left ,#FFFFFF, #0081FC, #22D4FD;
} 

body {
    background-color: var(--cor-primaria);
    /* height: 100vh; (ctrl k c) */
    color:var(--cor-terceira);

}
strong {
    color: var(--cor-segundaria);
}
 
.apresentacao_conteudo{
    display: flex;
    padding: 5% 15%;
    align-items: center;
    font-family:'prata', serif;
}
.primeira-mensagem {
    display: flex;
    align-items: center;
    text-align: center;
    padding-top: 20px;
    font-size: 40px;
    font-family:'Prata', serif;
    padding-right: 400px;
}
.nome {
    display: flex;
    font-size: 30px;
    font-family:'Prata', serif;
    margin-top: 40px;
}
.sobre-eu {
    padding-top:100px;
    font-size: 29px;
    text-align: center;
    font-family: 'Prata', serif;
    margin-bottom: 40px;
}
.links__apresentacao{
    display: flex;
    justify-content:space-between;
    gap: 40px;
}
.apresentacao__links__subtitulo{
    font-family: 'Prata', serif;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    font-weight: bold;

}
.apresentacao__links_link {
    /* background-color:#22D4FD; */
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 4px solid var(--cor-segundaria);
    width: 378px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    font-weight: 700px;
    padding: 10.5px 0;
    text-decoration: none;
    text-align: center;
    color:#f6f6f6;
    font-family: 'Prata', serif;
   
}
.apresentacao__links_link:hover {
    background-color:#272727;
    background: linear-gradient(to bottom left ,#FFFFFF, #0081FC, #22D4FD);
}
.foto-minha {    
    width: 200px;
}
.rodape{
    padding: 24px;
    color: (var(--cor-primaria)); 
    text-align: center;
    font-family: 'Prata', serif;
    font-size: 1.5rem;
    font-weight: bold;
}
.cabecalho{
    font-family:'prata', serif;
    font-size: 24px;
    font-weight: 700;
    color:var(--cor-segundaria);
    padding: 2% 0% 0% 15%;
}
.cabecalho__menu{
    display: flex;
    gap: 80px;

}
.pagina__principal{
    border: 4px solid var(--cor-segundaria);
    border-radius: 16px;
    width: 150px;
    text-align: center;
    color: var(--cor-segundaria);
    text-decoration: none;
}
.projetos__cabecalho{
    border: 4px solid var(--cor-segundaria);
    border-radius: 16px;
    width: 150px;
    text-align: center;
    color: var(--cor-segundaria);
    text-decoration:none;
}
.curriculo__cabecalho{
    border: 4px solid var(--cor-segundaria);
    border-radius: 16px;
    width: 150px;
    text-align: center;
    text-decoration:none;
    color:var(--cor-segundaria);
}
.apresentacao__conteudo a{
    text-decoration: none;
    color: var(--cor-segundaria);
}
.sub_apresentacao__curriculo{
    font-weight: bold;
    font-size: 20px;
    font-family:'prata', serif;
}